body, html{
    margin: 0;
    padding: 0;
    height:100%;
    background: #1e5799; /* Old browsers */
    background: -moz-linear-gradient(top, #1e5799 0%, #2989d8 66%, #7db9e8 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #1e5799 0%,#2989d8 66%,#7db9e8 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #1e5799 0%,#2989d8 66%,#7db9e8 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#1e5799', endColorstr='#7db9e8',GradientType=0 ); /* IE6-9 */
}
table{
    width:100%;
    height:100%;
    border: 2px solid black;
    border-collapse: collapse;
}
table, th, td {
    border: 1px solid black;
}

td.o{
    background-color: black;
}

.affichage{
    position: fixed;
    margin-top: 20px;
    width: 30%;
    opacity: .8;
    background-color: black;
    color: white;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    padding: 10px;
    text-align: center;
    border-radius: 10px;
    border: 2px solid white;
}
a{
    cursor: pointer;
    opacity: 1;
    color: white;
    text-decoration: none;
}
a:hover{
    text-decoration: underline;
}
input[type="submit"]{
    cursor: pointer;
    opacity: 1;
    font-size: 1em;
    line-height: 1em;
    color: white;
    text-decoration: none;
}
input[type="submit"]:hover{
    text-decoration: underline;
}

input[type="number"]{
    color: white;
    text-align: center;
    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid white;
    border-radius: 3px;
}
.affichage.special{
    margin-top: 40px;
}

.debug{
    background-color: red;
}