@import url('https://fonts.googleapis.com/css?family=Montserrat');

*{
    font-family: 'Montserrat', sans-serif;
}

html, body{
	margin: 0;
	padding: 0;
	height:100%; /* needed for container min-height */
	
}

fieldset{
	margin: 20px;
	padding: 20px;
	border-radius: 15px;
}

table {
	display: table; /* check so these really applies */
	position: fixed;
	width: 100%;
	height:auto !important; /* real browsers */
    height:100%; /* IE6: treaded as min-height*/
    min-height:100%; /* real browsers */
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid black;
}

td{
	padding: 20px;
	font-size: 1em;
	text-align: center;

}

.calendar{
	display: block;
	width: 100%;
	padding: 60px;
}

/* PER ELEMENTS */
.case{
	width: 10%;
	border: 1px solid black;
}

.case .day{
	display: block;
}

.case:hover .day{
	display: none;
	/* background-color: rgba(0,0,0,.5); */
}

.case .informations{
	display: none;
	font-size: .6em;
	color: black;
	border: none;
}

.informations input[type='submit']{
	width: 60px;
	height: 20px;
	font-size: 1em;
	line-height: 1em;
}

.case:hover .informations{
	display: block;
	/* background-color: rgba(0,0,0,.5); */
}

.eventButton{
	text-decoration: underline;
	font-weight: bold;
	color: black;
}

.eventButton:hover{
	text-decoration: none;
	color: darkgrey;
}

.specialBar{
	text-align: center;
	width: 100%;
	font-size: .8em;
	height: 50px;
	position: absolute;
	bottom: 0;
	left: 0;
	background-color: grey;
}

.disconnect{
	position: fixed;
	top: 0;
	left: 0;
	z-index: 10;
	margin: 20px;
	padding: 10px;
	color: white;
	font-size: 1.2em;
	background-color: darkgrey;
	border-radius: 10px;
	text-decoration: none;
}

.disconnect:hover{
	text-decoration: underline;
}
.header{
	width: 100%;
	position: fixed;
	left: 0;
	top: 0;
	margin-top: 15px;
	text-align: center;
	font-size: 1.2em;
	z-index: 10;
}

.createEvent{
	bottom: 0;
	position: fixed;
	background-color: lightgrey; 
	border-radius: 15px; 
	padding: 15px;
	margin: 15px;
	margin-top: 0;
}

/* OLD
.event{
	margin: 5px;
	margin-bottom: 10px;
	min-width: 100%;
	color: black;
	padding: 5px;
	background-color: darkgrey;
	border-radius: 15px;
}
.event h1{
	line-height: 1em;
	font-size: 1.1em;
}
.event p{
	line-height: .8em;
	font-size: .8em;
}*/